@charset "UTF-8";
/* CSS Document */
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Krub', sans-serif;
}
.menu {
	letter-spacing: 2px;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0%;
	overflow: hidden;
	background-color: #04171F;
	font-family: 'Krub', sans-serif;
	position: -webkit-sticky;
	position: sticky;
}


li {
	display: inline;
	float: left;
	position: sticky;
}

li a {
	display: block;
	color: ghostwhite;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
    background-color:#062532 ;
}
section {
	background-color: gray;
	font-family: 'Roboto Mono', sans-serif;
	padding-top: 25%;
	padding-bottom: 25%;
	padding-left: 15%;
}

#frontpage {
	background-image: url(tech.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: white;
	
}

#myVideo {
display: block;
height: 100%;
left: 25%;
position: absolute;
top: 25%;
width: 100%;
}

video::-webki-media-controls {
	display: none !important;
}

.video-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.8);
	opacity: 0;
	transition: opacity 0.3s ease;
}

.video-overlay:hover {
	opacity: 1;
}

.video-overlay h1{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%);
	text-transform: uppercase;
	font-size: 3em;
}
.content {
	position: fixed;
	bottom: 0;
	color: #f1f1f1;
	width: 100%;
	padding: 20%;
}


#myBtn {
	width: 200px;
	font-size: 18px;
	border: none;
	background: #000;
	color: #fff;
	cursor: pointer;
}

#myBtn:hover {
    background: #ddd;
    color: black;
}

#frontpage h1 {
	font-size: 1.875vw;
	font-weight: 900;
	text-transform: uppercase;
	font-family: 'Chakra Petch', sans-serif;
	color: white;
	text-align: left;
	word-spacing: 3px;
	letter-spacing: 7px;
	background-image: url(video.mp4);
}

#cell {
	background-color: red;
}

.cellphone {
	color: white;
}
