@charset "UTF-8";

* {
	box-sizing: border-box;
}

html, body {
	width: 100% !important;
	height: 100% !important;
}

p {
	font-family: 'Roboto', sans-serif;
	word-spacing: 3px;
	letter-spacing: 1px;
	text-align: justify;
	line-height: 1.5;
	width: 50%;
	position: relative;
}

img {
	float: left;
	padding: 20px;	
}

ul {
	color: white;
	float: right;
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
	padding-top: 25px;
	text-align: right;
	text-transform: uppercase;
	vertical-align: top;
}

li {
	float: right;
}

li a {
	color: white;
	display: block;
	padding: 10px 30px;
	text-align: right;
	text-decoration: none;
	transition: 1s ease;
}

li a:hover {
	border-bottom: 3px solid slategray;
}

body {
  margin: 0;
  padding: 0;

}

section {
	font-family: 'Roboto Mono', sans-serif;
	padding: 25% 15% 25% 15%; 
}
 
h1 {
  color: #fff;
  font-family: 'Cousine', monospace;
  font-size: 60px;
  letter-spacing: 27px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;

}
#frontpage {
	background-image: url(background.png);
	background-size: cover;
	background-repeat: no-repeat;
}
#frontpage h2 {
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	position: relative;
	text-align: center;
}

.down {
	align-items: center;
	padding-left: 800px;
}

#btn {
	background-color: white;
	border: 3px solid black;
	border-radius: 0;
	color: black;
	font-weight: bold;
	letter-spacing: 5px;
	margin: 40px auto auto auto;
	padding: 20px 10px 20px 10px;
	text-align: center;
	text-transform: uppercase;
	transition: all 0.3s linear;
	vertical-align: middle;
	width: 200px;
}

#btn a {
	text-decoration: none;
}

#btn:hover {
	background-color: black;
	color: white;
	cursor: pointer;
}

#what {
	background-image: url(workspace.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	color: black;
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	text-align: right;
	line-height: 1.5;
}

#what h2 {
	font-size: 30px;
	word-spacing: 8px;
	letter-spacing: 5px;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;

}
#what p {
	position: relative;
	font-size: 12px;
	padding-left: 100px;
	width: 70%;

	float: right;
}
#cell {
	font-family: 'Roboto', sans-serif;
	background: black;
	color: #F5C6E0;	
	z-index: 100;
}  
#cell p {
	position: absolute;
}
.container {
	float: right; 
	vertical-align: middle;
	display: inline;
}

#cell h2 { 
	text-transform: uppercase;
	letter-spacing: 8px;
}

#cell img {
	float: left;
}

#usb {
	background-color: whitesmoke;
	color: slategray;
	font-family: 'Raleway', sans-serif;
	font-weight: lighter;
	text-align: right;
	font-size: 15px;
	line-height: 1.5;
}

#usb h3 {
	text-transform: uppercase;
	font-size: 30px!important; 
	letter-spacing: 8px;
	position: relative;
	text-align: right;
	float: left;
}



#microchip {
	font-family: 'Raleway', sans-serif;
	background-color: black;
	color: #F5C6E0;
	font-size: 12px;
	word-spacing: 3px;
	line-height: 1.5;
}
#microchip h4 {
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 8px;
}


#microchip img {
	float: right;
}

#gopro h5 {
	background-color: white;
	color: slategray;
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 8px;
}

#smartwatch {
	background-color: black;
	color: white;
	font-size: 30px !important;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	word-spacing: 3px;
	letter-spacing: 8px;
}


#powerbank {
	background-color: white;
	color: slategray;
	font-size: 20px;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	font-weight: lighter;
	word-spacing: 3px;
	letter-spacing: 8px;
}

#speaker {
	background-color: black;
	color: white;
	font-size: 20px;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	font-weight: lighter;
	word-spacing: 3px;
	letter-spacing: 8px;
}

#about {
	padding: 15% 10% 15% 10%;
	font-size: 20px;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	font-weight: lighter;
	word-spacing: 3px;
	letter-spacing: 8px;
}
#contact {
	background-color: #A9A9A9;
	color: black;
	padding: 10%;
	text-align: center !important;
}

#contact p {
	font-size: 10px!important;
	text-align: center;
}

#inputEmail {
	padding: 1.25rem 10rem;
	text-align: center; 
	background-color: white;
	border: 3px solid black;
	color: black;
	font-family: 'Roboto', sans-serif;
}
.button {
	border: 3px solid black;
	border-radius: 0px;
	color: black;
	font-weight: bold;
	letter-spacing: 5px;
	margin: 40px auto auto auto;
	padding: 20px 10px 20px 10px;
	text-align: center;
	text-transform: uppercase;
	transition: all 0.3s linear;
	vertical-align: middle;
	width: 200px;
}

.button:hover {
	background-color: black;
	color: white;
	cursor: pointer;
}

#footer {
	background-color: black;
	padding: 10px;
}

.copyright {
	padding: 20px;
	background-color: black;
	color: white;
	text-align: center;
	letter-spacing: 10px;
}