@charset "UTF-8";
* {
	box-sizing: border-box;
}

img {
	padding: 20px;
	float: left;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	color: white;
	font-family: 'Nixie One', sans-serif;
	font-size: 12px;
	display: inline-block;
	vertical-align: top;
	text-align: right;
	float: right;
	padding-top: 25px;
}


li {
	float: right;
}

li a {
	display: block;
	padding: 10px 30px;
	text-decoration: none;
	transition: 1s ease;
	color: white;
	text-align: right;
}

li a:hover {
	border-bottom: 3px solid navy;
}

body {
  margin: 0;
  padding: 0;

}

section {
	font-family: 'Roboto Mono', sans-serif;
	padding-top: 25%;
	padding-bottom: 25%;
	padding-left: 15%;
	padding-right: 15%;
}
 
h1 {
  width: 100%;
  font-size: 50px;
  letter-spacing: 10px;
  color: #fff;
  font-family: 'Cousine', monospace;
  text-align: center;
  text-transform: uppercase;
  bottom: 500px;
}

.top h1 {
	letter-spacing: 27px;
	object-position: top;
}

#frontpage {
	background-image: url(background.png);
	background-size: cover;
}
#frontpage h2 {
	position: relative;
	top: 50%;
	width: 100%;
	font-size: 18px;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

.down {
	align-items: center;
	padding-left: 800px;
}

#btn {
	width: 200px;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	background-color: white;
	letter-spacing: 5px;
	border: 3px solid black;
	color: black;
	transition: all 0.3s linear;
}

#btn a {
	text-decoration: none;
}

#btn:hover {
	background-color: black;
	color: white;
	cursor: pointer;
}

#what {
	background-image: url(workspace.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	color: black;
	text-align: right;
	font-family: 'Raleway', sans-serif;
}

#what h2 {
	font-size: 40px;
	letter-spacing: 4px;
	font-family: 'Roboto', sans-serif;

}
#what p {
	position: relative;
	font-size: 15px;
	padding-left: 300px;
	width: 70%;
	text-align: right;
	float: right;
}
#cell {
	font-family: 'Roboto', sans-serif;
	background: black;
	color: white;
	
}

#cell h2 { 
	text-transform: uppercase;
	letter-spacing: 8px;
}

#cell p {
	font-size: 12px;
}
.split {
	height: 100%;
	width: 50%;
	z-index: 1;
	top: 0;
	overflow-x: hidden;
	padding-top: 20px;
}

.left {
	left: 0;
	background-color: black;
}

.right {
	right: 0;
	background-image: url(placeholder.png);
}
#usb {
	background-color: whitesmoke;
	color: slategray;
	width: 50%;
	height: 100%;
	text-align: justify;
}

#usb h2 {
	text-transform: uppercase;
	letter-spacing: 8px;
	position: relative;
}

#usb p {
	font-size: 12px;
}

#microchip {
	background-color: black;
	color: white;

	font-size: 12px;
}

#gopro {
	background-color: black;
	color: white;
}



#smartwatch {
	background-color: black;
	color: white;
}

#powerbank {
	background-color: black;
	color: white;
}

#speaker {
	background-color: black;
	color: white;
}
#contact {
	background-color: white;
	color: black;
	padding: 10%;
	text-align: center;
}

#contact p {
	font-size: 10px;
}

#inputEmail {
	padding: 1.25rem 10rem;
	text-align: center; 
	background-color: white;
	border: 3px solid black;
	color: black;
	font-family: 'Roboto', sans-serif;
}
.button {
	width: 200px;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 5px;
	border: 3px solid black;
	color: black;
	transition: all 0.3s linear;
}

.button:hover {
	background-color: black;
	color: white;
	cursor: pointer;
}

#footer {
	background-color: black;
	padding: 10px;
}

.copyright {
	padding: 20px;
	background-color: black;
	color: white;
	text-align: center;
	letter-spacing: 10px;
}